<div style="margin: 10px;" class="row">
  <div class="col-md-8"></div>
  <div class="col-md-1">
    <button style="padding: 5px;font-size: 14px;" title="Add Task" data-toggle="modal" (click)="addModalData()"
      data-target="#addDish" class="btn btn-primary btn-round"><i class="fa fa-plus"></i><span
        style="padding: 2px;"></span>Add Dish</button>
  </div>
  <div class="col-md-1">
    <!-- <button><a routerLink="/FileUpload">Login</a></button> -->
  </div>

  <div class="col-md-2">
    <input style="height:35px;font-size: 14px; " type="text" class="form-control form-control-round"
      placeholder="Search" [(ngModel)]="filterSearch" (ngModelChange)="search()">
  </div>
</div>
<div style="margin : 30px;font-size: 14px; ">
  <table style="margin-top: 10px; " id="dtBasicExample" class="table table-striped table-bordered table-sm"
    cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Dish Name

        </th>
        <th class="th-sm">Ingredients Name

        </th>
        <th class="th-sm">Dish Photo

        </th>
        <th class="th-sm">Dish Created

        </th>
        <th class="th-sm">
          Action
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let r of rows | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td>{{r.dishName | titlecase}}</td>
        <td>{{r.ingredientsName| titlecase}}</td>
        <td>{{r.file| titlecase}}
            <span title="View File" style="color: blue;cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter"
              (click)="getUrl(r)" class="fa fa-play"></span>
        </td>
        <td>{{r.createdAt|date}}</td>


        <td><span title="Delete" data-toggle="modal" style="color: red;cursor: pointer;" (click)="getDishId(r)"
            data-target="#deleteDish" class="fa fa-trash fa-2x"></span>
          &nbsp;&nbsp;&nbsp;
          <span title="Edit" (click)="editModalData(r)" data-toggle="modal" data-target="#updateDish"
            style="cursor: pointer;" class="fa fa-pencil fa-2x">
          </span>
        </td>
      </tr>
      <tr *ngIf="rows.length == 0">
        <td colspan="8" style="color:red;text-align: center;">No Data To Display</td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination style="float: right;" [(page)]="page" [pageSize]="pageSize" [collectionSize]="rows.length">
  </ngb-pagination>
</div>
<!-- add modal -->
<div class="modal fade bd-example-modal-lg" id="addDish" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="AddDish()" #addForm="ngForm">
        <div class="modal-body">
          <div class="card ">
            <div class="card-body">
              <div style="margin:0px 20px 0px 20px;">

                <div class="col-md-12">
                  <label for="Description"><strong>Dish
                      Name</strong></label><br>
                  <input type="text" placeholder="Enter Dish Name" id="addName" name="addName" #addName="ngModel"
                    [(ngModel)]="dishObj.addName" [ngModelOptions]="{standalone: true}" class="form-control" required>
                </div><br>

                <div class="col-md-12">
                  <label for="Description"><strong>Ingredients Name
                    </strong></label><br>
                    <textarea input type="text" placeholder="Enter Ingredients Name" id="addIngredientsName" name="addIngredientsName"
                    #addIngredientsName="ngModel" [(ngModel)]="dishObj.addIngredientsName" [ngModelOptions]="{standalone: true}"
                    class="form-control" required></textarea>

                </div><br>

                <div class="col-md-12">
                  <label for="Description"><strong> Ingredients Quantity
                    </strong></label><br>
                    <textarea input type="text" placeholder="Enter Ingredients Quantity" id="addQuantity" name="addQuantity"
                    #addQuantity="ngModel" [(ngModel)]="dishObj.addQuantity" [ngModelOptions]="{standalone: true}"
                    class="form-control" required></textarea>

                </div><br>

                  <div class="col-md-12">
                    <label for="Description"><strong> Ingredients Unit
                      </strong></label><br>
                      <textarea input type="text" placeholder="Enter Ingredients Unit" id="addUnit" name="addUnit" #addUnit="ngModel"
                      [(ngModel)]="dishObj.addUnit" [ngModelOptions]="{standalone: true}" class="form-control" required></textarea>

                  </div><br>

                    <div class="col-md-12">
                      <label for="Description"><strong> Steps to cook
                        </strong></label><br>
                      <textarea input type="text" rows="4" cols="50" placeholder="Enter Steps to cook" id="addSteps" name="addSteps" #addSteps="ngModel"
                        [(ngModel)]="dishObj.addSteps" [ngModelOptions]="{standalone: true}" class="form-control" required></textarea>

                    </div><br>

                    <div class="col-md-12">
                      <label for="Description"><strong> Dish Picture
                        </strong></label><br>
                      <input type="File"placeholder="select Picture" id="addPicture" name="addPicture"
                        #addPicture="ngModel" [(ngModel)]="dishObj.addPicture" (change)="fileChange($event)" [ngModelOptions]="{standalone: true}" class="form-control"
                        required>

                    </div><br>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add
                </button>
              </div>


            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="updateDish" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Dish</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="updateDish()" #addForm="ngForm">
        <div class="modal-body">
          <div class="card ">
            <div class="card-body">
              <div style="margin:0px 20px 0px 20px;">

                <div class="col-md-12">
                  <label for="Description"><strong>Dish
                      Name</strong></label><br>
                  <input type="text" placeholder="Enter Dish Name" id="updateName" name="updateName" #updateName="ngModel"
                    [(ngModel)]="dishObj.updateName" [ngModelOptions]="{standalone: true}" class="form-control" required>
                </div><br>

                <div class="col-md-12">
                  <label for="Description"><strong>Ingredients Name
                    </strong></label><br>
                  <textarea input type="text" placeholder="Enter Ingredients Name" id="updateIngredientsName"
                    name="updateIngredientsName" #updateIngredientsName="ngModel" [(ngModel)]="dishObj.updateIngredientsName"
                    [ngModelOptions]="{standalone: true}" class="form-control" required></textarea>

                </div><br>

                <div class="col-md-12">
                  <label for="Description"><strong> Ingredients Quantity
                    </strong></label><br>
                  <textarea input type="text" placeholder="Enter Ingredients Quantity" id="updateQuantity"
                    name="updateQuantity" #updateQuantity="ngModel" [(ngModel)]="dishObj.updateQuantity"
                    [ngModelOptions]="{standalone: true}" class="form-control" required></textarea>

                </div><br>

                <div class="col-md-12">
                  <label for="Description"><strong> Ingredients Unit
                    </strong></label><br>
                  <textarea input type="text" placeholder="Enter Ingredients Unit" id="updateUnit" name="updateUnit"
                    #addUnit="ngModel" [(ngModel)]="dishObj.updateUnit" [ngModelOptions]="{standalone: true}"
                    class="form-control" required></textarea>

                </div><br>

                <div class="col-md-12">
                  <label for="Description"><strong> Steps to cook
                    </strong></label><br>
                  <textarea input type="text" rows="4" cols="50" placeholder="Enter Steps to cook" id="updateSteps"
                    name="updateSteps" #updateSteps="ngModel" [(ngModel)]="dishObj.updateSteps"
                    [ngModelOptions]="{standalone: true}" class="form-control" required></textarea>

                </div><br>

                <div class="col-md-12">
                  <label for="Description"><strong> Dish Picture
                    </strong></label><br>
                  <input type="File" placeholder="select Picture" id="updatePicture" name="updatePicture"
                    #updatePicture="ngModel" [(ngModel)]="dishObj.updatePicture"
                    (change)="updatefileChange($event)"
                     [ngModelOptions]="{standalone: true}"
                    class="form-control" required>
                    <p *ngIf="filechange == 'No Change' ">{{updatedFile}}</p>

                </div><br>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">save changes
                </button>
              </div>


            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" id="deleteDish" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are You sure you want to delete this Dish</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-secondary" (click)="deleteDish()" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">View Dish</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-justified" style="text-align: center;">
        <img src="{{SASUrl}}" alt="image file" width="300px" height="300px">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
