
<router-outlet></router-outlet>

<ng-sidebar-container>
  <ng-sidebar [opened] = "opened">
    <p> sidebar content</p>
    <button (click) = "toggleSidebar()"></button>
    <ul class="menu">
      <li><a routerLink = "/login" (click) = "toggleSidebar()">Login</a></li>
      <li><a routerLink = "/task" (click) = "toggleSidebar()">Task</a></li>
      <!-- <li><a href="">Login</a></li> -->
    </ul>
  </ng-sidebar>
  <div class="ng-sidebar-content">
    <button (click) = "toggleSidebar()">open sidebar</button>

  </div>
</ng-sidebar-container>
