<div class="page-container">
  <div class="sidebar">
    <div class="list-items">
      <a routerLink="/login" class="list-item" routerLinkActive="selected">Login</a>
      <a routerLink="/task" class="list-item" routerLinkActive="selected">Task</a>
      <a routerLink="/file" class="list-item" routerLinkActive="selected">File Upload</a>

      <!-- <a routerLink="" class="list-item">demo</a> -->
    </div>
  </div>
  <div class="page-content-conatiner">
    <router-outlet></router-outlet>
  </div>
</div>
