.page-container {
  display: flex;
  height:100%;
  background: white;
}

.sidebar{
  height:100%;
  width: 300px;
  background: rgba(0, 0,0, 0.9);
}
.page-content-conatiner{
  padding: 50px;
  width: 100%;
}

.list-item{
  display: flex;
  align-items: center;
  font-size: 20px;
  color:rgba(255,255,255,0.95);
  cursor: pointer;
  padding:10px 20px;
}
.list-item:hover{
  color:orange;
}
.list-item.selected{
  color: aqua;
}
.list-items{
  padding-top: 100px;
}
